In [3]:
# tuple : a fixed-length, immutable sequence of Python objects 
# written with parentheses ()
tup = 4, 5, 6

In [ ]:
tup

In [13]:
tuprr = ("world", "snu")
tuprr

('world', 'snu')

In [ ]:
# nested tuple : tuples inside of other tuples
nested_tup = (4, 5, 6), (7, 8)

In [ ]:
nested_tup

In [ ]:
# convert any sequence or iterator to a tuple by invoking "tuple":
tup2 = tuple('string')
tup2

In [ ]:
# elements can be accesssed with square bracket [] 
tup2[3]

In [ ]:
# once a tuple is created, it's not possible to modify objects stored in each slot
tup2[3] = 'u'

In [ ]:
# However, if an object inside a tuple is mutable (i.e. list),you can modify it in-place
tup3 = tuple(['foo', [1,2], True])
tup3[1].append(3)
tup3

In [ ]:
# you can concatenate (add) tuples using the + operator to produce longer tuples
(4, None, 'foo') + (6,0) + ('bar',)
# note the last item 'bar' has a comma eventhough it's the only item in the tuple

In [ ]:
('foo', 'bar') * 4 
# multiplying a tuple is basically concatenating together copies of the tuple

In [ ]:
#unpacking tuples 
tup4 = (4, 5, 6)
a, b, c = tup4
b

In [ ]:
#same with unpacking nested tuples
tup5 = 4,5, (6, 7)
a, b, (c, d) = tup5
d

In [ ]:
#using this function, you can swap variable names
a, b = 1, 2
# a = 1, b = 2 
a

In [ ]:
b, a = a, b
a

In [ ]:
# plucking(discarding) values from tuples
# you can replace *rest with something else (i.e. *_ )
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

In [ ]:
rest

In [ ]:
# counting number of occurrences of a value in a tuple
a = (1, 2, 2, 2, 2, 3, 4, 2)
a.count(2)

In [ ]:
# Lists = lists are variable-length and their contents can be modified in-place
# define them using square brackets [] or using the list type function
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list=list(tup)
b_list

In [ ]:
# frequently used in data processing as a way to materialize an iterator
gen = range(10)
gen

In [ ]:
list(gen)

In [ ]:
# With lists, you can "append" and "insert" elements.
a_list.append('dwarf')
a_list

In [ ]:
a_list.insert(4,'giant')
a_list

In [ ]:
# inverse of insert is "pop", which removes and returns an element at a particular index
a_list.pop(4)

In [ ]:
a_list

In [ ]:
# WIth "remove", it locates the first of a value and removes it 
a_list.append(2)
a_list

In [ ]:
a_list.remove(2)

In [ ]:
a_list

In [ ]:
# you can adlso concatenate (add together) lists with "+" and "extend"
[4, None, 'foo'] + [7,8, (2,3)]

In [ ]:
a_list.extend([3,4,5])
a_list

In [ ]:
# you can sort a list in-plcae by "sort" function
a_sortlist = [7, 2, 5, 1, 3]
a_sortlist.sort()

In [ ]:
a_sortlist

In [ ]:
# sorting by length
b_lengthsort = ['saw', 'small', 'he', 'foxes', 'six']
b_lengthsort.sort(key=len)

In [ ]:
b_lengthsort

In [15]:
# bisect module implements binary search and insertion into a sorted list
# bisect.bisect finds the location where an element should be inserted to keep it sorted
# bisect.insort actually inserts the element
import bisect

In [16]:
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [17]:
bisect.bisect (c, 5)

6

In [18]:
bisect.insort (c, 6)

In [19]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [24]:
#slicing, consists of start:stop passed to the indexing operator []
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [27]:
seq[3:4] = [6, 3]

In [29]:
seq[3:4]

[6]

In [28]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [30]:
# element at the start index is included, the stop index is not included 
# you can omit start or stop, in which case they default to the start of the sequence
# or end of the sequence
seq[:5]

[7, 2, 3, 6, 3]

In [31]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [36]:
#enumerate allows users to keep track of the index of the current item
some_list = ['i', 'am', 'a', 'girl']

In [37]:
mapping = {}

In [38]:
for i, v in enumerate(some_list):
    mapping [v] = i

In [39]:
mapping

{'i': 0, 'am': 1, 'a': 2, 'girl': 3}

In [40]:
#sorted function returns a new sorted list from the elements of any sequence
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [41]:
#zip "pairs" up the elements of a number of lists, tuples, or other sequences to 
#create a list of tuples
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

In [42]:
zipped = zip(seq1,seq2)

In [43]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [44]:
#reversed iterates over the elements of a sequence in reverse order
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [45]:
#dict is a flexibly sized collection of key-value pairs, 
# where key and value are python objects.
# use curly braces {} and colons to separate keys and values
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [46]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
# you can access, insert, or set elements using the same syntax as accessing elements of a a list or tuple
d1[7] = 'an integer'
d1

In [ ]:
d1['b']

In [ ]:
# you can delete values by using the "del"keyword or the "pop" method
d1[5] = 'some value'
d1['dummy'] = 'another value'
d1

In [ ]:
del d1[5]
d1

In [ ]:
d1.pop('dummy')

In [ ]:
d1

In [ ]:
# you can merge one dict into another using the update method
d1.update({'b' : 'foo', 'c' : 12})
d1

In [ ]:
# keys generally have to be immutable objects like scalar types (Int,float, string) 
# or tuples

In [ ]:
# set is an unordered collection of unique elements. 
# kind of like dicts but only keys, no values. 
# can be created in 2 ways: via the set function or via a set literal with curly braces
set([2, 2, 2, 1, 3, 3])
#or 
{2, 2, 2, 1, 3, 3}

In [ ]:
# sets support math set operations like union, intersection, difference, and symmetric difference.
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

a.union(b)
#or 
a | b

In [ ]:
#intersection : elements occuring in both sets 
a.intersection(b)
#or 
a & b